* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: rgb(200, 230, 239);
}

header {
  width: 80;
  height: 50px;
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 95%;
}

.logo {
  width: 140px;
  height: auto;
}

.section_text {
  width: 60%;
  max-width: 600px;
  height: 500px;
}

.textarea_input {
  width: 90%;
  height: 400px;
  margin-top: 50px;
  border: none;
  resize: none;
  padding: 10px;
  outline: none;
  background: rgb(200, 230, 239);
  color: #0a3871;
}

.buttons {
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.btn_encriptar,
.btn_desencriptar {
  margin: 0 15px;
  padding: 10px 40px;
  border-radius: 6px;
  border: lightblue;
  transition: all 0.3s;
  cursor: pointer;
}

.btn_encriptar:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.btn_encriptar {
  background-color: #0a3871;
  color: #eee;
}
.btn_desencriptar {
  background: #d8dfe8;
  color: #0a3871;
}

.btn_encriptar:hover,
.btn_desencriptar:hover {
  opacity: 0.9;
  scale: 1.04;
}
.btn_encriptar:active,
.btn_desencriptar:active {
  opacity: 1;
  scale: 1;
}

.mensaje_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  max-width: 280px;
  height: 500px;
  background: #fefefe;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
.textarea_encriptado {
  width: 90%;
  height: 90%;
  border: none;
  resize: none;
  background: #fefefe;
  padding: 10px;
  outline: none;
}

.img_encriptado {
  width: 100%;
  margin-bottom: 50%;
}

.render {
  width: 90%;
  position: absolute;
  top: 68%;
  left: 10px;
}
.render > p {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  color: #0a3871;
}

.render > span {
  margin-top: 4px;
  display: block;
  font-size: 0.7em;
  text-align: center;
  font-weight: 400;
}

.btn_copiar {
  bottom: 15px;
  left: 25%;
  margin: 0 15px;
  padding: 10px 30px;
  border-radius: 6px;
  border: lightblue;
  transition: all 0.3s;
  scale: 1;
  cursor: pointer;
}

.btn_copiar:hover {
  opacity: 0.9;
  scale: 1.04;
}

.btn_copiar:active {
  opacity: 1;
  scale: 1;
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .section_text {
    width: 100%;
  }

  .textarea_input {
    margin: auto;
    width: 95%;
    height: 50vh;
    margin-top: 5vh;
  }

  .mensaje_box {
    justify-content: space-between;
    padding-bottom: 5px;
    width: 100%;
    max-width: none;
    height: fit-content;
  }

  .textarea_encriptado {
    width: 90%;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
  }

  .img_encriptado {
    display: none;
  }

  .render {
    top: 20%;
  }

  .btn_copiar {
    width: 80%;
    left: 2%;
  }
}

@media only screen and (max-width: 450px) {
  main {
    height: 93vh;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo {
    width: 90px;
  }
  .buttons {
    position: relative;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
  .btn_encriptar,
  .btn_desencriptar {
    margin: 10px 0;
    width: 90%;
    height: 47px;
  }

  .mensaje_box {
    position: relative;
    margin-top: 39px;
    height: 18vh;
    background: #fefefe;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  }
}
